
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  h1 {
    color: blue;
    font-size: 50px;
    background-color: aqua;
  }

  .txt {
    color: blueviolet;
    background-color: bisque;
  }

  .txt2 {
    color: black;
    background-color: blueviolet;
  }


  table, th, td {
    border-collapse: collapse;
    column-span: 2;
    border-spacing: 0;
    border: 5px solid black;
  }

  